<header
  class='p-4 md:p-8 shadow bg-Soft-red rounded-lg text-Very-pale-orange flex justify-between items-center'
>
  <div>
    <h2 class="font-normal">My balance</h2>
    <p class="font-bold text-3xl">$921.48</p>
  </div>
  <div class='logo w-16 relative'>
    <div
      class='size-11 border-2 rounded-full absolute z-30 top-[-50%] translate-y-[-50%] left-0'
    >
    </div>
    <div
      class='size-11 bg-Dark-brown rounded-full absolute z-10 top-[-50%] translate-y-[-50%] right-0'
    >
    </div>
  </div>
</header>
