---
import Header from "./Header.astro";
import Main from "./Main.astro";
---

<section class='max-w-xl mx-auto'>
  <Header />
  <Main />
</section>

<style>
  section {
    width: calc(100% - 2rem);
  }
</style>
